<div class="footer-1">
    <div class="container-2">
        <div class="container">
            ©2024 My company
        </div>
        <div class="logo-landing-1">
            <span class="landie-1">
                Landing
            </span>
        </div>
        <button type="button" class="footer-button-pur">purchase Now</button>
    </div>
    <div class="infos">
        <div class="info">
          <h6>We are available at these platforms</h6>
          <div class="logos-info">
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-github"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
      </div>
</div>

