<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="styles.css"> Your other CSS file   -->
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="landing-page-1">
    <div class="container">
      <app-header></app-header>
      <div class="hero">
        <div class="content-1">
          <div class="text-block-hero">
            <div class="title">
              <h2>Introduce your product quickly & effectively</h2>
            </div>
          </div>
        </div>
        <span class="content-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ex quaerat consequuntur omnis sapiente quis quos eos rerum accusamus illum officia veritatis voluptatibus.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, tempore! Optio, quo fuga. Voluptatem, quas magni! Ipsa fugiat, voluptatibus nam doloremque asperiores placeat nostrum reiciendis aspernatur optio maiores cupiditate incidunt!
        </span>
        <img class="developer1" src="../assets/designer pics.jpg">
      </div>
      <div class="container-6">
        <button class="btn btn-outline-primary">Purchase UI kit</button>
        <button class="btn btn-outline-success">Learn more</button>
      </div>
      <div class="content-next-2">
        <div class="col-md-6">
          <h3>Light and High speed</h3>
          <span>Fast and prominent service and timely precise</span>
          <span></span>
        </div>
        <div class="col-md-6 designer-pic ">
          <img class="developer-2" src="../assets/phone develop.jpg" alt="Designer">
        </div>
      </div>
      <div class="infos">
        <div class="col-md-3 info">
          <h6>We are available at these platforms</h6>
          <div class="logos-info">
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-github"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
</html>
