h2 {
    display: inline;
    position: relative;
    top: 100px;
}
.content-2 {
    position: relative;
    top: 110px;
    margin-right: 200px; 
    clear: both; 
    margin-left: 200px;
}
.container-6{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.developer1 {
    float: right;
    margin-top: 50px;

}
.developer-2{
    width: 600px;
}
.designer-pic{
    float: right;
}
.developer1 {
    float: right;
    clear: both; 
}
.landing-page-1 .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}